@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
   
</style>
<div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#">Trang chủ</a>
        </li>
        <li class="active">Trang phục</li>
    </ul>
</div>
<div class="page-content">
    <div class="ace-settings-container" id="ace-settings-container">
        @*<div class="btn btn-app btn-xs btn-warning ace-settings-btn" id="ace-settings-btn">
            <i class="ace-icon fa fa-cog bigger-130"></i>
        </div>*@

        <div class="ace-settings-box clearfix" id="ace-settings-box">
            <div class="pull-left width-50">
                <div class="ace-settings-item">
                    <div class="pull-left">
                        <select id="skin-colorpicker" class="hide">
                            <option data-skin="no-skin" value="#438EB9">#438EB9</option>
                            <option data-skin="skin-1" value="#222A2D">#222A2D</option>
                            <option data-skin="skin-2" value="#C6487E">#C6487E</option>
                            <option data-skin="skin-3" value="#D0D0D0">#D0D0D0</option>
                        </select>
                    </div>
                    <span>&nbsp; Choose Skin</span>
                </div>

                <div class="ace-settings-item">
                    <input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-navbar" autocomplete="off" />
                    <label class="lbl" for="ace-settings-navbar"> Fixed Navbar</label>
                </div>

                <div class="ace-settings-item">
                    <input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-sidebar" autocomplete="off" />
                    <label class="lbl" for="ace-settings-sidebar"> Fixed Sidebar</label>
                </div>

                <div class="ace-settings-item">
                    <input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-breadcrumbs" autocomplete="off" />
                    <label class="lbl" for="ace-settings-breadcrumbs"> Fixed Breadcrumbs</label>
                </div>

                <div class="ace-settings-item">
                    <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-rtl" autocomplete="off" />
                    <label class="lbl" for="ace-settings-rtl"> Right To Left (rtl)</label>
                </div>

                <div class="ace-settings-item">
                    <input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-add-container" autocomplete="off" />
                    <label class="lbl" for="ace-settings-add-container">
                        Inside
                        <b>.container</b>
                    </label>
                </div>
            </div><!-- /.pull-left -->

            <div class="pull-left width-50">
                <div class="ace-settings-item">
                    <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-hover" autocomplete="off" />
                    <label class="lbl" for="ace-settings-hover"> Submenu on Hover</label>
                </div>

                <div class="ace-settings-item">
                    <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-compact" autocomplete="off" />
                    <label class="lbl" for="ace-settings-compact"> Compact Sidebar</label>
                </div>

                <div class="ace-settings-item">
                    <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-highlight" autocomplete="off" />
                    <label class="lbl" for="ace-settings-highlight"> Alt. Active Item</label>
                </div>
            </div><!-- /.pull-left -->
        </div><!-- /.ace-settings-box -->
    </div><!-- /.ace-settings-container -->

    <div class="row">
        <div class="col-xs-12">
            <div>
                <div class="row search-page" id="search-page-1">
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-xs-12 col-sm-3">
                                <div class="search-area well well-sm">
                                    <div class="search-filter-header btn-header">
                                        <h5 class="smaller no-margin-bottom">
                                            <i class="ace-icon fa fa-sliders light-green bigger-130"></i>  Nhóm trang phục
                                        </h5>
                                    </div>
                                    <div class="space-10"></div>

                                    <form>
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-12">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" name="keywords" placeholder="" />
                                                    <div class="input-group-btn">
                                                        <button type="button" class="btn btn-default no-border btn-sm">
                                                            <i class="ace-icon fa fa-search icon-on-right bigger-110"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="hr hr-dotted"></div>
                                    <div style="background: #fff;">
                                        <ul id="cat-tree"></ul>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-9">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="row">
                                            <button class="btn btn-white btn-default btn-bold" data-toggle="modal" data-target="#exampleModal">
                                                @*<i class="ace-icon fa fa-floppy-o bigger-120 blue"></i>*@
                                                Thêm mới
                                            </button>
                                            <button class="btn btn-white btn-default btn-bold">
                                                @*<i class="ace-icon fa fa-trash-o bigger-120 orange"></i>*@
                                                Xóa
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-md-9 pull-right">
                                        <div class="row" style="float: right;">
                                            <label class="control-label no-padding-right" for="form-field-1">Mã H55: </label>
                                            <input type="text" id="form-field-1" placeholder="">
                                            <label class="control-label no-padding-right" for="form-field-1">Tên trang phục: </label>
                                            <input type="text" id="form-field-1" placeholder="">
                                            <label class="control-label no-padding-right" for="form-field-1">Đơn vị tính: </label>
                                            <select id="form-field-select-1">
                                                <option value="">Chọn đon vị tính</option>
                                                <option value="1">đôi</option>
                                                <option value="2">m</option>
                                                <option value="3">sp</option>
                                                <option value="4">bộ</option>
                                                <option value="5">cuốn</option>
                                                <option value="6">cái</option>
                                                <option value="7">thùng</option>
                                                <option value="8">kg</option>
                                                <option value="9">đôi/hộp</option>
                                            </select>
                                            <button class="btn btn-white btn-default btn-bold">
                                                @*<i class="ace-icon fa fa-trash-o bigger-120 orange"></i>*@
                                                Tìm kiếm
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="space-2"></div>
                                <div class="row">
                                    <table id="simple-table" class="table table-bordered table-hover" style="margin-bottom: 0px;">
                                        <thead>
                                            <tr>
                                                <th class="center">
                                                    <label class="pos-rel">
                                                        <input type="checkbox" class="ace" />
                                                        <span class="lbl"></span>
                                                    </label>
                                                </th>
                                                <th class="center">Chi tiết</th>
                                                <th class="center">Mã H55</th>
                                                <th class="center">Tên Trang phục</th>
                                                <th class="center">Đơn vị tính</th>
                                                <th class="center">Giới tính</th>
                                                <th class="center">May đo </th>
                                                <th class="center">Nhận tiền</th>
                                                <th class="center">Nhận hiện vật</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <tr>
                                                <td class="center">
                                                    <label class="pos-rel">
                                                        <input type="checkbox" class="ace" />
                                                        <span class="lbl"></span>
                                                    </label>
                                                </td>
                                                <td>Mô tả quân phục</td>
                                                <td class="center">MS001</td>
                                                <td>Quần áo</td>
                                                <td class="center">Cái</td>
                                                <td class="center">Nam</td>
                                                <td class="center">
                                                    <label class="pos-rel">
                                                        <input type="checkbox" class="ace" disabled checked />
                                                        <span class="lbl"></span>
                                                    </label>
                                                </td>
                                                <td class="center">
                                                    <label class="pos-rel">
                                                        <input type="checkbox" class="ace" disabled checked />
                                                        <span class="lbl"></span>
                                                    </label>
                                                </td>
                                                <td class="center">
                                                    <label class="pos-rel">
                                                        <input type="checkbox" class="ace" disabled checked />
                                                        <span class="lbl"></span>
                                                    </label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="center">
                                                    <label class="pos-rel">
                                                        <input type="checkbox" class="ace" />
                                                        <span class="lbl"></span>
                                                    </label>
                                                </td>
                                                <td>Chiêt tiết trang phục</td>
                                                <td class="center">MS002</td>
                                                <td>Giày dép</td>
                                                <td class="center">đôi</td>
                                                <td class="center">Nam</td>
                                                <td class="center">
                                                    <label class="pos-rel">
                                                        <input type="checkbox" class="ace" disabled />
                                                        <span class="lbl"></span>
                                                    </label>
                                                </td>
                                                <td class="center">
                                                    <label class="pos-rel">
                                                        <input type="checkbox" class="ace" disabled />
                                                        <span class="lbl"></span>
                                                    </label>
                                                </td>
                                                <td class="center">
                                                    <label class="pos-rel">
                                                        <input type="checkbox" class="ace" disabled checked />
                                                        <span class="lbl"></span>
                                                    </label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="center">
                                                    <label class="pos-rel">
                                                        <input type="checkbox" class="ace" />
                                                        <span class="lbl"></span>
                                                    </label>
                                                </td>
                                                <td>Mô tả chi tiết</td>
                                                <td class="center">MS003</td>
                                                <td>Cảnh trang</td>
                                                <td class="center">bộ</td>
                                                <td class="center">Nữ</td>
                                                <td class="center">
                                                    <label class="pos-rel">
                                                        <input type="checkbox" class="ace" disabled checked />
                                                        <span class="lbl"></span>
                                                    </label>
                                                </td>
                                                <td class="center">
                                                    <label class="pos-rel">
                                                        <input type="checkbox" class="ace" disabled />
                                                        <span class="lbl"></span>
                                                    </label>
                                                </td>
                                                <td class="center">
                                                    <label class="pos-rel">
                                                        <input type="checkbox" class="ace" disabled checked />
                                                        <span class="lbl"></span>
                                                    </label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="center">
                                                    <label class="pos-rel">
                                                        <input type="checkbox" class="ace" />
                                                        <span class="lbl"></span>
                                                    </label>
                                                </td>
                                                <td>Quân phực chi tiết</td>
                                                <td class="center">MS004</td>
                                                <td>Công trang phạm</td>
                                                <td class="center">m</td>
                                                <td class="center">Nữ</td>
                                                <td class="center">
                                                    <label class="pos-rel">
                                                        <input type="checkbox" class="ace" disabled checked />
                                                        <span class="lbl"></span>
                                                    </label>
                                                </td>
                                                <td class="center">
                                                    <label class="pos-rel">
                                                        <input type="checkbox" class="ace" disabled checked />
                                                        <span class="lbl"></span>
                                                    </label>
                                                </td>
                                                <td class="center">
                                                    <label class="pos-rel">
                                                        <input type="checkbox" class="ace" disabled />
                                                        <span class="lbl"></span>
                                                    </label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="center">
                                                    <label class="pos-rel">
                                                        <input type="checkbox" class="ace" />
                                                        <span class="lbl"></span>
                                                    </label>
                                                </td>
                                                <td> Cảnh trang chi tiết sản phẩm</td>
                                                <td class="center">MS005</td>
                                                <td>Trang phục</td>
                                                <td class="center">chiếc</td>
                                                <td class="center">Nữ</td>
                                                <td class="center">
                                                    <label class="pos-rel">
                                                        <input type="checkbox" class="ace" disabled />
                                                        <span class="lbl"></span>
                                                    </label>
                                                </td>
                                                <td class="center">
                                                    <label class="pos-rel">
                                                        <input type="checkbox" class="ace" disabled checked />
                                                        <span class="lbl"></span>
                                                    </label>
                                                </td>
                                                <td class="center">
                                                    <label class="pos-rel">
                                                        <input type="checkbox" class="ace" disabled checked />
                                                        <span class="lbl"></span>
                                                    </label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="center">
                                                    <label class="pos-rel">
                                                        <input type="checkbox" class="ace" />
                                                        <span class="lbl"></span>
                                                    </label>
                                                </td>
                                                <td>Mô tả mặt hàng chỉ cấp bằng tiền</td>
                                                <td class="center">MS006</td>
                                                <td>Công phạm</td>
                                                <td class="center">chiếc</td>
                                                <td class="center">Nữ</td>
                                                <td class="center">
                                                    <label class="pos-rel">
                                                        <input type="checkbox" class="ace" disabled checked />
                                                        <span class="lbl"></span>
                                                    </label>
                                                </td>
                                                <td class="center">
                                                    <label class="pos-rel">
                                                        <input type="checkbox" class="ace" disabled />
                                                        <span class="lbl"></span>
                                                    </label>
                                                </td>
                                                <td class="center">
                                                    <label class="pos-rel">
                                                        <input type="checkbox" class="ace" disabled checked />
                                                        <span class="lbl"></span>
                                                    </label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="center">
                                                    <label class="pos-rel">
                                                        <input type="checkbox" class="ace" />
                                                        <span class="lbl"></span>
                                                    </label>
                                                </td>
                                                <td>Mô tả quân phục</td>
                                                <td class="center">MS007</td>
                                                <td>Quần áo</td>
                                                <td class="center">Cái</td>
                                                <td class="center">Nam</td>
                                                <td class="center">
                                                    <label class="pos-rel">
                                                        <input type="checkbox" class="ace" disabled checked />
                                                        <span class="lbl"></span>
                                                    </label>
                                                </td>
                                                <td class="center">
                                                    <label class="pos-rel">
                                                        <input type="checkbox" class="ace" disabled checked />
                                                        <span class="lbl"></span>
                                                    </label>
                                                </td>
                                                <td class="center">
                                                    <label class="pos-rel">
                                                        <input type="checkbox" class="ace" disabled checked />
                                                        <span class="lbl"></span>
                                                    </label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="center">
                                                    <label class="pos-rel">
                                                        <input type="checkbox" class="ace" />
                                                        <span class="lbl"></span>
                                                    </label>
                                                </td>
                                                <td>Mô tả quân phục</td>
                                                <td class="center">MS008</td>
                                                <td>Quần áo</td>
                                                <td class="center">Cái</td>
                                                <td class="center">Nam</td>
                                                <td class="center">
                                                    <label class="pos-rel">
                                                        <input type="checkbox" class="ace" disabled checked />
                                                        <span class="lbl"></span>
                                                    </label>
                                                </td>
                                                <td class="center">
                                                    <label class="pos-rel">
                                                        <input type="checkbox" class="ace" disabled checked />
                                                        <span class="lbl"></span>
                                                    </label>
                                                </td>
                                                <td class="center">
                                                    <label class="pos-rel">
                                                        <input type="checkbox" class="ace" disabled checked />
                                                        <span class="lbl"></span>
                                                    </label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="center">
                                                    <label class="pos-rel">
                                                        <input type="checkbox" class="ace" />
                                                        <span class="lbl"></span>
                                                    </label>
                                                </td>
                                                <td>Mô tả quân phục</td>
                                                <td class="center">MS009</td>
                                                <td>Quần áo</td>
                                                <td class="center">Cái</td>
                                                <td class="center">Nam</td>
                                                <td class="center">
                                                    <label class="pos-rel">
                                                        <input type="checkbox" class="ace" disabled checked />
                                                        <span class="lbl"></span>
                                                    </label>
                                                </td>
                                                <td class="center">
                                                    <label class="pos-rel">
                                                        <input type="checkbox" class="ace" disabled checked />
                                                        <span class="lbl"></span>
                                                    </label>
                                                </td>
                                                <td class="center">
                                                    <label class="pos-rel">
                                                        <input type="checkbox" class="ace" disabled checked />
                                                        <span class="lbl"></span>
                                                    </label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="center">
                                                    <label class="pos-rel">
                                                        <input type="checkbox" class="ace" />
                                                        <span class="lbl"></span>
                                                    </label>
                                                </td>
                                                <td>Mô tả quân phục</td>
                                                <td class="center">MS010</td>
                                                <td>Quần áo</td>
                                                <td class="center">Cái</td>
                                                <td class="center">Nam</td>
                                                <td class="center">
                                                    <label class="pos-rel">
                                                        <input type="checkbox" class="ace" disabled checked />
                                                        <span class="lbl"></span>
                                                    </label>
                                                </td>
                                                <td class="center">
                                                    <label class="pos-rel">
                                                        <input type="checkbox" class="ace" disabled checked />
                                                        <span class="lbl"></span>
                                                    </label>
                                                </td>
                                                <td class="center">
                                                    <label class="pos-rel">
                                                        <input type="checkbox" class="ace" disabled checked />
                                                        <span class="lbl"></span>
                                                    </label>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <ul class="pagination">
                                                <li class="disabled">
                                                    <a href="#">
                                                        <i class="ace-icon fa fa-angle-double-left"></i>
                                                    </a>
                                                </li>

                                                <li class="active">
                                                    <a href="#">1</a>
                                                </li>

                                                <li>
                                                    <a href="#">2</a>
                                                </li>

                                                <li>
                                                    <a href="#">3</a>
                                                </li>

                                                <li>
                                                    <a href="#">4</a>
                                                </li>

                                                <li>
                                                    <a href="#">5</a>
                                                </li>

                                                <li>
                                                    <a href="#">
                                                        <i class="ace-icon fa fa-angle-double-right"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div><!-- /.span -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="bootbox modal fade bootbox-prompt" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title">Thông tin chi tiết</h4>
                        </div>
                        <div class="modal-body">
                            <div class="bootbox-body">
                                <form class="bootbox-form">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label no-padding-right" for="form-field-1">Mã H55: </label>

                                                <div class="col-sm-8">
                                                    <input type="text" id="form-field-1" placeholder="" class="col-xs-12 col-sm-12">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label no-padding-right" for="form-field-1">Tên trang phục:<span class="text-danger">*</span> </label>

                                                <div class="col-sm-8">
                                                    <input type="text" id="form-field-1" placeholder="" class="col-xs-12 col-sm-12">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label no-padding-right" for="form-field-1">Loại hàm: </label>
                                                <div class="col-sm-8">
                                                    <select class="col-xs-12 col-sm-12" id="form-field-select-1">
                                                        <option value="">Chọn loại hàm</option>
                                                        <option value="x">Vạch Xanh</option>
                                                        <option value="v">Vạch Vàng</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label no-padding-right" for="form-field-1">Cấp bậc: </label>

                                                <div class="col-sm-8">
                                                    <select class="col-xs-12 col-sm-12" id="form-field-select-1">
                                                        <option value="">Chọn cấp bậc</option>
                                                        <option value="1">Thượng sỹ PVCTH</option>
                                                        <option value="2">Trung sỹ PVCTH</option>
                                                        <option value="3">Hạ sỹ PVCTH</option>
                                                        <option value="4">Đại tướng</option>
                                                        <option value="5">Thượng tướng</option>
                                                        <option value="6">Trung tướng</option>
                                                        <option value="7">Thiếu tướng</option>
                                                        <option value="8">Đại tá</option>
                                                        <option value="9">Thượng tá</option>
                                                        <option value="10">Trung tá</option>
                                                        <option value="11">Thiếu tá</option>
                                                        <option value="12">Đại úy</option>
                                                        <option value="13">Thượng úy</option>
                                                        <option value="14">Trung úy</option>
                                                        <option value="15">Thiếu úy</option>
                                                        <option value="16">Thượng sỹ</option>
                                                        <option value="17">Trung sỹ</option>
                                                        <option value="18">Hạ sỹ</option>
                                                        <option value="19">Chiến sỹ B1</option>
                                                        <option value="20">Chiến sỹ B2</option>
                                                        <option value="21">Công nhân viên CA</option>
                                                        <option value="22">Học viên "DDH - CĐ"</option>
                                                        <option value="23">Học viên Trung học</option>
                                                        <option value="24">Học sinh trường văn hóa CAND</option>
                                                        <option value="25">Tân binh (Tỉnh - Vụ - Cục)</option>
                                                        <option value="26"> Tân binh Trại</option>
                                                        <option value="27">Tân binh TVB(TT Huấn luyện)</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label no-padding-right" for="form-field-1"></label>
                                                <div class="col-sm-8">
                                                    <label class="pos-rel">
                                                        <input type="checkbox" class="ace">
                                                        <span class="lbl"> May đo</span>
                                                    </label>
                                                    <label class="pos-rel">
                                                        <input type="checkbox" class="ace">
                                                        <span class="lbl"> Nhận tiền</span>
                                                    </label>
                                                    <label class="pos-rel">
                                                        <input type="checkbox" class="ace">
                                                        <span class="lbl"> Nhận hiện vật</span>
                                                    </label>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label no-padding-right" for="form-field-1"></label>
                                                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">% Trợ giá</label>
                                                <div class="col-sm-5">
                                                    <input type="text" id="form-field-1" placeholder="" class="col-xs-10 col-sm-6">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label no-padding-right" for="form-field-1">Mô tả</label>
                                                <div class="col-sm-10">
                                                    <textarea resize="none" placeholder="" class="col-xs-10 col-sm-12"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Nhóm trang phục: <span class="text-danger">*</span></label>

                                                <div class="col-sm-9">
                                                    <select class="col-xs-12 col-sm-12" id="form-field-select-1">
                                                        <option value="">Chọn nhóm trang phục</option>
                                                        <option value="1">Nhóm 1</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label no-padding-right" for="form-field-1">Giới tính: </label>

                                                <div class="col-sm-8">
                                                    <select class="col-xs-12 col-sm-12" id="form-field-select-1">
                                                        <option value="">Chọn giới tính</option>
                                                        <option value="1">Nam</option>
                                                        <option value="2">Nữ</option>
                                                        <option value="3">Chung</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Nhóm trang cha:</label>

                                                <div class="col-sm-9">
                                                    <select class="col-xs-12 col-sm-12" id="form-field-select-1">
                                                        <option value="">Chọn trang phục cấp cha</option>
                                                        <option value="1">Trang phục test 1</option>
                                                        <option value="2">Trang phục test 2</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label no-padding-right" for="form-field-1">Đon vị tính: </label>

                                                <div class="col-sm-8">
                                                    <select class="col-xs-12 col-sm-12" id="form-field-select-1">
                                                        <option value="">Chọn đon vị tính</option>
                                                        <option value="1">đôi</option>
                                                        <option value="2">m</option>
                                                        <option value="3">sp</option>
                                                        <option value="4">bộ</option>
                                                        <option value="5">cuốn</option>
                                                        <option value="6">cái</option>
                                                        <option value="7">thùng</option>
                                                        <option value="8">kg</option>
                                                        <option value="9">đôi/hộp</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary">Lưu</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Hủy</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->

@section scripts{
    <script>
        function initiateDemoData() {
            var tree_data = {
                'p1': { text: 'Mặt hàng chỉ cấp bằng tiền', type: 'folder' },
                'p2': { text: 'Cảnh tranh', type: 'folder' },
                'p3': { text: 'Quân trang', type: 'folder' },
            }
            tree_data['p1']['additionalParameters'] = {
                'children': {
                    'c1': { text: 'Phạm', type: 'item' },
                    'c2': { text: 'CBCS', type: 'item' },
                }
            }
            tree_data['p2']['additionalParameters'] = {
                'children': {
                    'c11': { text: 'Cảnh trang CBCS', type: 'folder' },
                    'c12': { text: 'Cảnh trang phạm', type: 'item' },
                }
            }
            tree_data['p2']['additionalParameters']['children']['c11']['additionalParameters'] = {
                'children': {
                    'c111': { text: 'Mũ, giày dép', type: 'folder' },
                    'c112': { text: 'Cảnh trang khác', type: 'folder' }
                }
            }
            tree_data['p2']['additionalParameters']['children']['c11']['additionalParameters']['children']['c111']['additionalParameters'] = {
                'children': {
                    'c1111': { text: 'Mũ cứng - mũ mềm', type: 'item' },
                    'c1112': { text: 'Giầy vải', type: 'item' },
                    'c1113': { text: 'Mũ bông', type: 'item' },
                    'c1114': { text: 'Mũ kêpi', type: 'folder' },
                    'c1115': { text: 'Giầy da', type: 'item' },
                    'c1116': { text: 'Mũ BH các loại', type: 'item' },
                    'c1117': { text: 'Giầy ghệt', type: 'item' }
                }
            }
            tree_data['p2']['additionalParameters']['children']['c11']['additionalParameters']['children']['c111']['additionalParameters']['children']['c1114']['additionalParameters'] = {
                'children': {
                    'c11141': { text: 'Mũ kêpi GT', type: 'item' },
                    'c11142': { text: 'Mũ kêpi BVMT', type: 'item' },
                    'c11143': { text: 'Mũ kêpi AN', type: 'item' },
                    'c11144': { text: 'Mũ kêpi MN', type: 'item' },
                    'c11145': { text: 'Mũ kêpi TBNL', type: 'item' },
                    'c11146': { text: 'Mũ kêpi LP', type: 'item' }
                }
            }
            tree_data['p2']['additionalParameters']['children']['c11']['additionalParameters']['children']['c112']['additionalParameters'] = {
                'children': {
                    'c1121': { text: 'Đay bụng', type: 'item' },
                    'c1122': { text: 'Bít tất, Găng tay, Khăn mặt', type: 'item' },
                    'c1123': { text: 'Ba lo 3 túi', type: 'item' },
                    'c1124': { text: 'Quần áo mưa', type: 'item' },
                    'c1125': { text: 'Cặp, sắc cốt, túi các loại', type: 'item' },
                    'c1126': { text: 'Khẩu trang, còi đồng', type: 'item' }
                }
            }
            tree_data['p3']['additionalParameters'] = {
                'children': {
                    'c11': { text: 'Quân trang CBCS', type: 'item' },
                    'c12': { text: 'Công trang phạm', type: 'item' },
                }
            }
            var dataSource1 = function (options, callback) {
                var $data = null
                if (!("text" in options) && !("type" in options)) {
                    $data = tree_data;
                    callback({ data: $data });
                    return;
                }
                else if ("type" in options && options.type == "folder") {
                    if ("additionalParameters" in options && "children" in options.additionalParameters)
                        $data = options.additionalParameters.children || {};
                    else $data = {}
                }

                if ($data != null)
                    setTimeout(function () { callback({ data: $data }); }, parseInt(Math.random() * 500) + 200);

            }
            return { 'dataSource1': dataSource1 }
        }
        var sampleData = initiateDemoData();
        $('#cat-tree').ace_tree({
            dataSource: sampleData['dataSource1'],
            loadingHTML: '<div class="tree-loading"><i class="ace-icon fa fa-refresh fa-spin blue"></i></div>',
            'open-icon': 'ace-icon fa fa-folder-open',
            'close-icon': 'ace-icon fa fa-folder',
            'itemSelect': true,
            'folderSelect': true,
            'multiSelect': true,
            'selected-icon': null,
            'unselected-icon': null,
            'folder-open-icon': 'ace-icon tree-plus',
            'folder-close-icon': 'ace-icon tree-minus'
        });
    </script>
}