<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>QTTB</title>
    <meta name="description" content="top menu &amp; navigation" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <link rel="stylesheet" href="~/Assest/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Assest/font-awesome/4.5.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/Assest/css/fonts.googleapis.com.css" />
    <link href="~/Assest/css/ace.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Assest/css/ace-skins.min.css" />
    <link rel="stylesheet" href="~/Assest/css/ace-rtl.min.css" />
    <link rel="stylesheet" href="~/Assest/css/select2.min.css" />
    <link href="~/Assest/dist/css/angular-confirm.min.css" rel="stylesheet" />
    <link href="~/Assest/plugins/jexcel/jexcel.css" rel="stylesheet" />
    <link href="~/Assest/plugins/jexcel/jsuites.css" rel="stylesheet" /> 
    <link href="~/Assest/css/custom-ace.css" rel="stylesheet" />
    <script src="~/Assest/js/ace-extra.min.js"></script>
    <style>
        .main-container:before {
            background-image: url(/Content/Images/logo_bca.png);
            background-repeat: no-repeat;
            opacity: 0.1;
            position: fixed;
            background-size: auto 100%;
            background-position: center;
        }

        .navbar, .ace-nav > li.light-blue > a {
            background-color: #00933f;
        }

        .ace-nav > li {
            border-left: none;
        }

            .ace-nav > li.open.light-blue > a, .ace-nav > li.light-blue > a:hover {
                background-color: rgba(0, 0, 0, 0.1);
            }
    </style>
</head>

<body class="no-skin" ng-app="web-app">
    @Html.Partial("_Header")

    <div class="main-container ace-save-state" id="main-container">
        <script type="text/javascript">
            try { ace.settings.loadState('main-container') } catch (e) { }
        </script>

        @Html.Partial("_MenuLeft")

        <div class="main-content">
            <div class="main-content-inner">
                @RenderBody()
            </div>
        </div>

        <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
            <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
        </a>
    </div>
    <script src="~/Assest/js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript">
        if ('ontouchstart' in document.documentElement) document.write("<script src='assets/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
    </script>
    <script src="~/Assest/js/bootstrap.min.js"></script>
    <script src="~/Assest/js/ace-elements.min.js"></script>
    <script src="~/Assest/js/ace.min.js"></script>
    <script src="~/Assest/js/tree.min.js"></script>
    <script src="~/Assest/js/bootstrap-datepicker.min.js"></script>
    <script src="~/Assest/js/bootstrap-timepicker.min.js"></script>
    <script src="~/Assest/plugins/select2/js/select2.full.min.js"></script>
    <script src="~/Assest/plugins/moment/moment.min.js"></script>
    <script src="~/Assest/plugins/jexcel/jexcel.js"></script>
    <script src="~/Assest/plugins/jexcel/jsuites.js"></script>
    <script src="~/Assest/plugins/angularjs/angular.min.js"></script>
    <script src="~/Assest/plugins/angularjs/angular-confirm.min.js"></script>
    <script src="~/Assest/plugins/angularjs/ui-bootstrap-tpls-2.5.0.js"></script>
    <script src="~/Assest/plugins/angularjs/ui-select2.js.js"></script>
    <script src="~/Assest/plugins/toastr/toastr.min.js"></script>
    <script src="~/Assest/dist/js/jquery.toast.js"></script>
    <script src="~/Assest/plugins/angularjs/ui.jexcel.js"></script>
    <script src="~/app/app.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
